{% extends "redo/layout.twig" %}

{% set page_title = 'Error' | trans %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    <div class="form-group"
        role="main">
        <h1>{{ 'Error' | trans }}</h1>
        <p>{{ responseStatus == 404 ? 'The page you requested does not exist' | trans : 'The page you requested caused application error' | trans }}</p>
        {% if app.environment == 'dev' %}
            <code>{{ exception.message }}</code>
            <p>{{ exception.params ?? ( exception.previous.params ?? '') | json_encode }}</p>
            <pre><code>{{ exception.traceAsString }}</code></pre>
        {% endif %}
    </div>

    {% include "redo/footer.twig" %}
{% endblock %}
