{% extends "redo/layout.twig" %}

{% set page_title = 'Error' | trans %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    <div class="error-page"
        role="main">
        <h1 class="error-page-header">{{ 'Error' | trans }} - {{ responseStatus }}</h1>
        <div class="error-page-container">
            {% if responseStatus == 403 %}
                <div class="error-icon">{{ icon('closed-lock', 10) }}</div>
                {{ 'You do not have proper rights to see this page' | trans }}.
            {% elseif responseStatus == 404 %}
                <div class="error-icon">{{ icon('site-map', 10) }}</div>
                {{ 'The page you requested does not exist' | trans }}.
            {% else %}
                <div class="error-icon">{{ icon('settings-2', 10) }}</div>
                {{ 'The page you requested caused application error' | trans }}.
            {% endif %}
            {% if app.environment == 'dev' %}
                <div class="dev-environment">
                    <code>{{ exception.message }}</code>
                    <p>{{ exception.params ?? ( exception.previous.params ?? '') | json_encode }}</p>
                    <pre><code>{{ exception.traceAsString }}</code></pre>
                </div>
            {% endif %}
        </div>
    </div>

    {% include "redo/footer.twig" %}
{% endblock %}
