{% extends "redo/layout.twig" %}

{% set page_title = 'sign_in_title' %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    <div class="login-form-main-container">
        <div class="login-container">
            {% if error %}
                <div class="login-error-element alert alert-dismissible alert-danger">
                    <button type="button"
                        class="close"
                        data-dismiss="alert">×
                    </button>
                    <strong>{{ 'Signing in failed' | trans }}.</strong>
                </div>
            {% endif %}
            <div class="login-box">
                <div class="logo-box">
                    <a class="logo"
                        href="/">
                        {{ icon('redo-logo', '1', '0 0 59.093 94.335') }}
                    </a>
                </div>
                <form class="form-box"
                    method="post"
                    action="">
                    <input type="hidden"
                        name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}">
                    <h3 class="administration-label">{{ 'logging_in_app_name' | trans({'{{applicationName}}': applicationName}) }}</h3>
                    <div class="input-box username-input">
                        {{ icon('user-2') }}
                        <input name="_username"
                            type="text"
                            id="username"
                            value="{{ last_username }}">
                    </div>
                    <div class="input-box">
                        {{ icon('key') }}
                        <input name="_password"
                            type="password"
                            id="password">
                        <button class="submit-button"
                            type="submit"
                            name="{{ 'Sign in' | trans }}">
                            {{ icon('accept-2') }}
                        </button>
                    </div>

                </form>
            </div>
            <!--
            <div class="information-links-box">
                <a class="information-link-element"
                    tabindex="0">
                    {{ icon('help') }}
                    <span class="information-link-text">{{ 'Remind password' | trans }}</span>
                </a>
                <a class="information-link-element"
                    tabindex="0">
                    {{ icon('mail') }}
                    <span class="information-link-text">{{ 'Contact administrator' | trans }}</span>
                </a>
            </div>
            -->
        </div>
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
