{% extends "redo/layout.twig" %}

{% set page_title = 'sign_in_title' | trans %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    <div class="login-form-main-container top-panel"
        role="main">
        {% if error %}
            <div class="login-error-notification alert">
                <strong class="error-message">{{ 'Signing in failed' | trans }}.</strong>
                <button type="button"
                    class="close-button"
                    data-dismiss="alert">{{ icon('x', 0.75) }}</button>
            </div>
        {% endif %}
        <div class="login-container">
            <h1 class="title">{{ 'logging_in_app_name' | trans({'{{applicationName}}': applicationName}) }}</h1>
            <form class="form"
                method="post"
                action="">
                <input type="hidden"
                    name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
                <div class="input-boxes-with-icons">
                    <div class="input-box-with-icon">
                        {{ icon('user-2', 2) }}
                        <input name="_username"
                            type="text"
                            id="username"
                            value="{{ last_username }}"
                            title="{{ 'Login' | trans }}">
                    </div>
                    <div class="input-box-with-icon">
                        {{ icon('key', 2) }}
                        <input name="_password"
                            type="password"
                            id="password"
                            title="{{ 'Password' | trans }}">
                    </div>
                </div>
                <button class="submit-button default blue"
                    type="submit"
                    name="login-btn"
                    title="{{ 'Sign in' | trans }}">
                    {{ 'Sign in' | trans }}
                </button>
            </form>
            <!--
            <div class="information-links-box">
                <a class="information-link-element"
                    tabindex="0">
                    {{ icon('help', 2) }}
                    <span class="information-link-text">{{ 'Remind password' | trans }}</span>
                </a>
                <a class="information-link-element"
                    tabindex="0">
                    {{ icon('mail', 2) }}
                    <span class="information-link-text">{{ 'Contact administrator' | trans }}</span>
                </a>
            </div>
            -->
        </div>
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
