<div class="site-menu">
    <div class="menu-items">
        <a class="{{ urlMatches('/#') ? 'active' : '' }}"
            href="/">
            <span>Szukaj</span>
        </a>
        <a class="{{ urlMatches('/search', '/resources') ? 'active' : '' }}"
            href="/search">
            <span>Przeglądaj</span>
        </a>
        <a class="{{ urlMatches('/for-authors') ? 'active' : '' }}"
            href="/for-authors">
            <span>Dla autorów</span>
        </a>
    </div>
    {% if app.request.requestUri != '/'
        and not (app.request.requestUri starts with '/search') %}
        <form class="top-search-bar right-aligned"
            action="/search">
            <input type="text"
                name="phrase"
                {% if app.request.query.has('phrase') %}
                    value="{{ app.request.query.get('phrase') }}"
                {% endif %}
                placeholder="szukaj w zasobach">
            <button class="search-button"
                type="submit">
                {{ icon("search") }}
            </button>
        </form>
    {% endif %}
    <div class="menu-items right-aligned {{ app.user ? 'contains-submenu' : '' }}">
        {% if app.user %}
            <div class="button-with-submenu with-submenu-on-the-left">
                <button class="{{ urlMatches('/user') ? 'active' : '' }}"
                    data-toggle="dropdown">
                    {{ icon('user-2') }}
                    <span>{{ app.user.username }}</span>
                    {{ icon('down-4', 0.75) }}
                </button>
                <div>
                    {% if resourceKindsToDeposit(app.user, [-4]) | length != 0 %}
                        <a class="isActive() ? 'active' : ''"
                            href="/deposit/resource-kind">
                            <span>Deponuj</span>
                        </a>
                    {% endif %}
                    {% if resources({contentsFilter: {osoba_tworzaca_rekord: app.user.userData.id}, resultsPerPage: 1}) | length == 1 %}
                        <a class="isActive() ? 'active' : ''"
                            href="/deposit/deposit-list">
                            <span>Moje zasoby</span>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_OPERATOR_SOME_CLASS') %}
                        <a href="/admin">
                            <span>Panel administracyjny</span>
                        </a>
                    {% endif %}
                    <a href="/logout">
                        <span>Wyloguj</span>
                    </a>
                </div>
            </div>
        {% else %}
            <a href="/login"
                class="{{ urlMatches('/login') ? 'active' : '' }}">
                {{ icon('user-2') }}
                <span>Zaloguj</span>
            </a>
        {% endif %}
    </div>
</div>
