<div class="site-menu"
    role="menu">
    <div class="menu-items">
        <a class="{{ urlMatches('/#') ? 'active' : '' }}"
            href="/"
            role="menuitem">
            <span>{{ 'Search' | trans }}</span>
        </a>
        <a class="{{ urlMatches('/search', '/resources') ? 'active' : '' }}"
            href="/search"
            role="menuitem">
            <span>{{ 'Browse' | trans }}</span>
        </a>
        <a class="{{ urlMatches('/for-authors') ? 'active' : '' }}"
            href="/for-authors"
            role="menuitem">
            <span>{{ 'For authors' | trans }}</span>
        </a>
        {% if app.user %}
        <a class="{{ urlMatches('/report') ? 'active' : '' }}"
            href="{{ path('report') }}"
            role="menuitem">
            <span>{{ 'Report remark' | trans }}</span>
        </a>
        {% endif %}
    </div>
    {% if app.request.requestUri != '/'
        and not (app.request.requestUri starts with '/search') %}
        <form class="top-search-bar right-aligned"
            action="/search"
            role="search">
            <input type="text"
                name="phrase"
                {% if app.request.query.has('phrase') %}
                    value="{{ app.request.query.get('phrase') }}"
                {% endif %}
                placeholder="{{ 'search_small_placeholder' | trans }}"
                aria-label="{{ 'search_small_placeholder' | trans }}">
            <button class="search-button"
                type="submit"
                name="{{ 'search_button' | trans }}"
                title="{{ 'search_button' | trans }}">
                {{ icon("search") }}
            </button>
        </form>
    {% endif %}
    <div class="menu-items right-aligned {{ app.user ? 'contains-submenu' : '' }}">
        {% if app.user %}
            <div class="button-with-submenu with-submenu-on-the-left">
                <button class="{{ urlMatches('/user') ? 'active' : '' }}"
                    data-toggle="dropdown"
                    role="menuitem"
                    aria-haspopup="listbox"
                    title="{{ 'User menu' | trans }}"
                    aria-label="{{ 'User menu' | trans }}">
                    {{ icon('user-2') }}
                    <span>{{ app.user.username }}</span>
                    {{ icon('down-4', 0.75) }}
                </button>
                <div role="listbox">
                    {% if canDepositAnyResource() %}
                        <a class="isActive() ? 'active' : ''"
                            href="{{ path('deposit') }}"
                            role="option">
                            <span>{{ 'Deposit' | trans }}</span>
                        </a>
                    {% endif %}
                    {% if resources({contentsFilter: {osoba_tworzaca_rekord: app.user.userData.id}, resultsPerPage: 1}) | length == 1 %}
                        <a class="isActive() ? 'active' : ''"
                            href="{{ path('myResources') }}"
                            role="option">
                            <span>{{ 'My resources' | trans }}</span>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_OPERATOR_SOME_CLASS') %}
                        <a href="/admin"
                            role="option">
                            <span>{{ 'Admin panel' | trans }}</span>
                        </a>
                    {% endif %}
                    <a href="/logout"
                        role="option">
                        <span>{{ 'Sign out' | trans }}</span>
                    </a>
                </div>
            </div>
        {% else %}
            <a href="/login"
                class="{{ urlMatches('/login') ? 'active' : '' }}"
                role="menuitem">
                {{ icon('user-2') }}
                <span>{{ 'Sign in' | trans }}</span>
            </a>
        {% endif %}
    </div>
</div>
