<div class="site-menu">
    <div>
        <a class="{{ urlMatches('/#', '/search') ? 'active' : '' }}"
            href="/">
            {{ icon('search', 1.5) }}
            <span>Szukaj</span>
        </a>
        <a class="{{ urlMatches('/resources') ? 'active' : '' }}"
            href="/resources">
            {{ icon('folder', 1.5) }}
            <span>Przeglądaj</span>
        </a>
        <a class="{{ urlMatches('/for-authors') ? 'active' : '' }}"
            href="/for-authors">
            {{ icon('edit', 1.5) }}
            <span>Dla autorów</span>
        </a>
    </div>
    <div class="right-aligned {{ app.user ? 'contains-submenu' : '' }}">
        {% if app.user %}
            <div class="button-with-submenu with-submenu-on-the-left">
                <button class="{{ urlMatches('/user') ? 'active' : '' }}"
                    data-toggle="dropdown">
                    {{ icon('user-2', 1.5) }}
                    <span>{{ app.user.username }}</span>
                </button>
                <div>
                    {% if resourceKindsToDeposit(app.user, [-4]) | length != 0 %}
                        <a class="isActive() ? 'active' : ''"
                            href="/deposit/resource-kind">
                            {{ icon('add-resource-3', 1.5) }}
                            <span>Deponuj</span>
                        </a>
                    {% endif %}
                    {% if resources({contentsFilter: {tworca_zasobu: app.user.userData.id}, resultsPerPage: 1}) | length == 1 %}
                        <a class="isActive() ? 'active' : ''"
                            href="/deposit/deposit-list">
                            {{ icon('resources', 1.5) }}
                            <span>Moje zasoby</span>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_OPERATOR_SOME_CLASS') %}
                        <a href="/admin">
                            {{ icon('created', 1.5) }}
                            <span>Panel administracyjny</span>
                        </a>
                    {% endif %}
                    <a href="/logout">
                        {{ icon('logout', 1.5) }}
                        <span>Wyloguj</span>
                    </a>
                </div>
            </div>
        {% else %}
            <a href="/login">
                {{ icon('user-2', 1.5) }}
                <span>Zaloguj</span>
            </a>
        {% endif %}
    </div>
</div>
