<div class="pagination">
    <ul class="pages-list">
        <li class="text-button">
            {% if pagination.previous is empty %}
                <span class="disabled">&lt; Poprzednia</span>
            {% else %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'phrase': phrase, 'page': pagination.previous})) }}">&lt; Poprzednia</a>
            {% endif %}
        </li>
        {% for page in pagination.first %}
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'phrase': phrase, 'page': page})) }}">{{ page }}</a>
            </li>
        {% endfor %}
        {% if pagination.leftEllipsis %}
            <li class="ellipsis"><span>...</span></li>
        {% endif %}
        {% for page in pagination.left %}
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'phrase': phrase, 'page': page})) }}">{{ page }}</a>
            </li>
        {% endfor %}
        {% if pagination.showCurrent %}
            <li class="current"><span>{{ pagination.current }}</span></li>
        {% endif %}
        {% for page in pagination.right %}
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'phrase': phrase, 'page': page})) }}">{{ page }}</a>
            </li>
        {% endfor %}
        {% if pagination.rightEllipsis %}
            <li class="ellipsis"><span>...</span></li>
        {% endif %}
        {% for page in pagination.last %}
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'phrase': phrase, 'page': page})) }}">{{ page }}</a>
            </li>
        {% endfor %}
        <li class="text-button">
            {% if pagination.next is empty %}
                <span class="disabled">Następna &gt;</span>
            {% else %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'phrase': phrase, 'page': pagination.next})) }}">Następna &gt;</a>
            {% endif %}
        </li>
    </ul>
</div>
