{% set visibleMetadataNames = ['data_wydania'] %}
{% set collapsedMetadataNames = ['opis', 'abstrakt'] %}

{% set childrenAllowedInResource = resource | childrenAllowed %}
<div class="resources-list-element">
    <div class="resource-image">
        {% if childrenAllowedInResource %}
            {{ icon('folder') }}
        {% else %}
            {{ icon('document') }}
        {% endif %}
    </div>

    {% if searchResult is defined %}
        {% set highlightedMetadata = [] %}
        {% for fieldName, highlights in searchResult.highlights %}
            {% set metadataId = fieldName | slice(9) | number_format %}
            {% set metadata = metadata(metadataId) %}
            {% if fieldName matches '%.*value_file.content%' %}
                {% set highlights = withPageNumbers(resource, resource | m(metadataId), highlights) %}
            {% endif %}
            {% set metadataLabel = metadata.label | inCurrentLanguage %}
            {% set representsWholeValue = highlights | join | replace({'<em>': '', '</em>': '', ' ': ''})
                == resource | metadata(metadataId) | replace({' ': ''}) %}
            {% set highlightedMetadata = highlightedMetadata | merge({(metadata.name): {
                label: metadataLabel,
                highlights: highlights,
                representsWholeValue: representsWholeValue
            }}) %}
        {% endfor %}
    {% endif %}

    <div class="details">
        <div class="basic-data-with-download-options">
            <div class="basic-data">
                <h2>
                    <a href="/resources/{{ resource.id }}">
                        {% if highlightedMetadata is defined and highlightedMetadata.tytul is defined %}
                            {{ highlightedMetadata.tytul.highlights[0] | raw }}
                            {% set highlightedMetadata = arrayWithoutItem(highlightedMetadata, 'tytul') %}
                        {% else %}
                            {{ resource | metadata('tytul') | default(resource | metadata('label')) }}
                        {% endif %}
                    </a>
                </h2>
                {% if resource | metadata('autor') is not empty %}
                    <h4>{{ resource | metadata('autor') }}</h4>
                {% endif %}
                <div>
                    <span class="metadata-label">{{ 'Type'| trans }}:</span> {{ resource.kind.label | inCurrentLanguage }}
                </div>
                {% for visibleMetadataName in visibleMetadataNames %}
                    {% set metadata = metadata(visibleMetadataName) %}
                    {% if metadata %}
                        {% set metadataLabel = metadata.label | inCurrentLanguage %}
                        {% set metadataValue = resource | metadata(visibleMetadataName) %}
                        {% if metadataValue is not empty %}
                            <div>
                                <span class="metadata-label">{{ metadataLabel }}:</span> {{ metadataValue }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% if not childrenAllowedInResource %}
                <fieldset>
                    <legend align="left"><span class="title"
                            title="{{ 'Download resource' | trans }}">{{ 'Download resource' | trans }}</span></legend>
                    <div class="download-formats">
                        <h4><a href="/resources/{{ resource.id }}/download/mobi"
                                title="{{ 'Download resource in MOBI format' | trans }} - 7KB">MOBI</a></h4>
                        <h4><a href="/resources/{{ resource.id }}/download/pdf"
                                title="{{ 'Download resource in PDF format' | trans }} - 144000KB">PDF</a></h4>
                    </div>
                </fieldset>
            {% endif %}
        </div>

        {% set collapsedMetadataLabelsWithValues = [] %}
        {% for collapsedMetadataName in collapsedMetadataNames %}
            {% set metadata = metadata(collapsedMetadataName) %}
            {% if metadata and (highlightedMetadata is not defined or highlightedMetadata[metadata.name] is not defined) %}
                {% set metadataLabel = metadata.label | inCurrentLanguage %}
                {% set metadataValue = resource | metadata(collapsedMetadataName) %}
                {% if metadataValue is not empty %}
                    {% set collapsedMetadataLabelsWithValues = collapsedMetadataLabelsWithValues| merge([{
                        label: metadataLabel,
                        value: metadataValue
                    }]) %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if collapsedMetadataLabelsWithValues is not empty or searchResult is defined and highlightedMetadata is not empty %}
            {% set variableName = "resource" ~ resource.id ~ "MetadataListExpanded" %}
            <div class="collapsible-metadata">
                <div class="first-line-with-optional-toggle">
                    <div>
                        <div>
                            <div>
                                {% for collapsedMetadataLabelWithValue in collapsedMetadataLabelsWithValues %}
                                    <div class="metadata-details">
                                        <span class="metadata-label">{{ collapsedMetadataLabelWithValue.label }}:</span>
                                        {{ collapsedMetadataLabelWithValue.value }}
                                    </div>
                                {% endfor %}
                                {% if searchResult is defined %}
                                    {% for metadataName, metadataLabelWithHighlights in highlightedMetadata %}
                                        <div class="metadata-details">
                                            <span class="metadata-label">
                                                {{ metadataLabelWithHighlights.label }}{% if not
                                                    metadataLabelWithHighlights.representsWholeValue %}
                                                    <em>({{ 'fragments' | trans }})</em>{% endif %}:</span>
                                            {{ metadataLabelWithHighlights.highlights
                                                | join(metadataLabelWithHighlights.representsWholeValue ? ' ' : '<br>') | raw }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <button class="expand-toggle ${ {{ variableName }} ? 'toggled' : '' }"
                                type="button"
                                click.delegate="{{ variableName }} = !{{ variableName }}">
                                <span>{{ icon('forward') }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="collapsible-with-visible-first-line collapsed"
                    class.bind="{{ variableName }} ? '' : 'collapsed'"
                    click.delegate="{{ variableName }} = true">
                    {% for collapsedMetadataLabelWithValue in collapsedMetadataLabelsWithValues %}
                        <div class="metadata-details {{ loop.first ? 'text-container': '' }}">
                            <span class="metadata-label
                                {{ loop.first ? 'text-container': '' }}">{{ collapsedMetadataLabelWithValue.label }}:</span>
                            {{ collapsedMetadataLabelWithValue.value }}
                        </div>
                    {% endfor %}
                    {% if searchResult is defined %}
                        {% for metadataName, metadataLabelWithHighlights in highlightedMetadata %}
                            <div class="metadata-details
                                {{ collapsedMetadataLabelsWithValues is empty and loop.first ? 'text-container': '' }}">
                                <span class="metadata-label {{ collapsedMetadataLabelsWithValues is empty
                                    and loop.first ? 'text-container': '' }}">
                                        {{ metadataLabelWithHighlights.label }}{% if not
                                            metadataLabelWithHighlights.representsWholeValue %}
                                            <em>({{ 'fragments' | trans }})</em>{% endif %}:</span>
                                    {{ metadataLabelWithHighlights.highlights
                                    | join(metadataLabelWithHighlights.representsWholeValue ? ' ' : '<br>') | raw }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
