{% extends "redo/layout.twig" %}

{% set page_title = phrase ~ ' - wyniki wyszukiwania' %}

{% block content %}
    <div class="content home-page-content">
        <search-bar phrase="{{ phrase }}"
            metadata-subsets.bind="[{ids: 'tytul,opis', label: 'Tytuł, Opis'}]"
            selected-metadata-subset.bind="{ids: '{{ app.request.query.all.metadataSubset ?? '*' }}'}"></search-bar>
    </div>

    <h1>Wyniki wyszukiwania ({{ results.totalHits }})</h1>

    <div class="facets">
        {% for aggregationName, aggregation in results.aggregations if aggregation.buckets.0[aggregationName].buckets %}
            <div>
                <strong>{{ aggregationName == 'kindId' ? aggregationName : metadata(aggregationName).label.PL }}:</strong>
                {% for bucket in aggregation.buckets.0[aggregationName].buckets %}
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'phrase': phrase, 'facetFilters': ftsFacetFilterParam(aggregationName, bucket.key, app.request.query.all.facetFilters ?? [])})) }}">
                        {% if aggregationName == 'kindId' %}
                            {{ resourceKind(bucket.key).label.PL }}
                        {% else %}
                            {{ r(bucket.key)|mLabel }}
                        {% endif %}
                        ({{ bucket.doc_count }})
                        {% if isFilteringByFacet(aggregationName, bucket.key, app.request.query.all.facetFilters ?? []) %}
                            <span class="cross">&cross;</span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="search-hits">
        {% for result in results %}
            {% set resource = result.data.contents | ftsContentsToResource %}
            <div class="search-hit">
                <div class="score">{{ result.score | number_format(1) }}%</div>
                <h3><a href="/resources/{{ result.id }}">{{ resource | mLabel }} (#{{ result.id }})</a></h3>
                <p>{{ resource | mOpis }}</p>
                <table class="highlights">
                    {% for fieldName, highlights in result.highlights %}
                        <tr>
                            <th scope="row">{{ metadata(fieldName | slice(9) | number_format).label.PL }}</th>
                            <td>
                                {% for highlight in highlights %}
                                    <p>{{ highlight | raw }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
