<div class="title-bar">
    <a class="logo-container"
        href="/">
        <img src="/files/redo/rpk-logo.svg"
            title="{{ 'Main page of Repozytorium Politechniki Krakowskiej' | trans }}"
            alt="Logo"
            aria-label="{{ 'Go to main page of Repozytorium Politechniki Krakowskiej' | trans }}">
        <div class="title-container">
            <span>REPOZYTORIUM</span>
            <span>POLITECHNIKI KRAKOWSKIEJ</span>
        </div>
    </a>
    <div class="right-side-container">
        <div class="options-bar">
            <div class="social-media-buttons">
                <a class="options-bar-item"
                    href="https://www.facebook.com/bpk.biblioteka/"
                    target="_blank"
                    title="{{ 'Facebook' | trans }}"
                    aria-label="{{ 'Facebook' | trans }}">
                    {{ icon('facebook') }}
                    <span class="hidden"
                        aria-hidden="false">Facebook</span>
                </a>
            </div>
            <div class="page-view-options">
                <button class="options-bar-item page-view-option"
                    title="{{ 'Change contrast' | trans }}"
                    aria-label="{{ 'Change contrast' | trans }}"
                    click.delegate="highContrast = !highContrast"
                    local-storage-value="key: highContrast; value.bind: highContrast">{{ icon('brightness') }}</button>
                <div>
                    <div class="page-view-option dropdown">
                        {% set currentLocale = app.request.getLocale() %}
                        <button class="dropdown-toggle options-bar-item"
                            data-toggle="dropdown"
                            aria-haspopup="menu"
                            title="{{ ('language_' ~ currentLocale) | trans }}"
                            aria-label="{{ ('language_' ~ currentLocale) | trans }}">
                            {{ currentLocale | upper }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right"
                            role="menu">
                            {% for language in [
                                {locale:'pl', name: 'Polski'},
                                {locale: 'en', name: 'English'},
                                {locale: 'de', name: 'Deutsch'}
                            ] %}
                                {% if language.locale != currentLocale %}
                                    <li>
                                        <a class="menu-item"
                                            href="" {# It's required to make selecting with arrow keys work. #}
                                            select-language-on-click="{{ language.locale }}"
                                            role="menuitem"
                                            aria-label="{{ ('language_' ~ language.locale) | trans }}">
                                            {{ language.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pk-logo-container">
            <a href="https://www.pk.edu.pl">
                <img src="/files/redo/pk-logo.svg"
                    alt="{{ 'Politechnika Krakowska' | trans }}"
                    aria-label="{{ 'Politechnika Krakowska' | trans }}">
            </a>
        </div>
    </div>
</div>
