<div class="title-bar">
    <a class="logo-container"
        href="/">
        <img src="/files/images/rpk-logo.svg">
    </a>
    <div class="title-container">
        <span>REPOZYTORIUM</span>
        <span>POLITECHNIKI KRAKOWSKIEJ</span>
    </div>
    <div class="right-side-container">
        <div class="options-bar">
            <div class="social-media">
                <a>{{ icon('twitter') }}</a>
                <a>{{ icon('facebook') }}</a>
            </div>
            <div class="page-view-options">
                <button>{{ icon('font') }}</button>
                <button>{{ icon('rss') }}</button>
                <div class="button-with-submenu languages">
                    {% set currentLocale = app.request.getLocale() %}
                    <button data-toggle="dropdown">
                        <span>
                            {{ currentLocale | upper }}
                        </span>
                    </button>
                    <div>
                        {% for language in [{locale:'pl', name: 'Polski'}, {locale:'en', name: 'English'}, {locale:'de', name: 'Deutsch'}] %}
                            {% if language.locale != currentLocale %}
                                <language-option language.bind="'{{ language.locale }}'">
                                    {{ language.name }}
                                </language-option>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pk-logo-container">
            <img src="/files/images/pk-logo.svg">
        </div>
    </div>
</div>
