<div class="title-bar">
    <a class="logo-container"
        href="/">
        <img src="/files/images/rpk-logo.svg">
    </a>
    <div class="title-container">
        <span>REPOZYTORIUM</span>
        <span>POLITECHNIKI KRAKOWSKIEJ</span>
    </div>
    <div class="right-side-container">
        <div class="options-bar">
            <div class="social-media">
                <a>{{ icon('twitter') }}</a>
                <a>{{ icon('facebook') }}</a>
            </div>
            <div class="page-view-options">
                <button>{{ icon('font') }}</button>
                <button>{{ icon('rss') }}</button>
                <button>{{ icon('languages') }}</button>
            </div>
        </div>
        <div class="pk-logo-container">
            <img src="/files/images/pk-logo.svg">
        </div>
    </div>
</div>
