<div class="title-bar">
    <a class="logo-container"
        href="/">
        <img src="/files/redo/rpk-logo.svg"
            title="{{ 'Main page of Repozytorium Politechniki Krakowskiej' | trans }}"
            aria-label="{{ 'Go to main page of Repozytorium Politechniki Krakowskiej' | trans }}">
    </a>
    <div class="title-container">
        <span>REPOZYTORIUM</span>
        <span>POLITECHNIKI KRAKOWSKIEJ</span>
    </div>
    <div class="right-side-container">
        <div class="options-bar">
            <div class="social-media-buttons">
                <a href="https://www.facebook.com/bpk.biblioteka/"
                    target="_blank"
                    title="{{ 'Facebook' | trans }}"
                    aria-label="{{ 'Facebook' | trans }}">{{ icon('facebook') }}</a>
            </div>
            <div class="page-view-options">
                <button title="{{ 'Change contrast' | trans }}"
                    aria-label="{{ 'Change contrast' | trans }}"
                    click.delegate="highContrast = !highContrast"
                    local-storage-value="key: highContrast; value.bind: highContrast">{{ icon('brightness') }}</button>
                <div class="button-with-submenu languages">
                    {% set currentLocale = app.request.getLocale() %}
                    <button data-toggle="dropdown"
                        aria-haspopup="menu"
                        title="{{ ('language_' ~ currentLocale) | trans }}"
                        aria-label="{{ ('language_' ~ currentLocale) | trans }}">
                        <span>
                            {{ currentLocale | upper }}
                        </span>
                    </button>
                    <div role="menu">
                        {% for language in [{locale:'pl', name: 'Polski'}, {locale:'en', name: 'English'}, {locale:'de', name: 'Deutsch'}] %}
                            {% if language.locale != currentLocale %}
                                <language-option
                                    language.bind="'{{ language.locale }}'"
                                    role="menuitem"
                                    aria-label="{{ ('language_' ~ language.locale) | trans }}">
                                    {{ language.name }}
                                </language-option>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pk-logo-container">
            <img src="/files/redo/pk-logo.svg"
                alt="{{ 'Politechnika Krakowska' | trans }}"
                aria-label="{{ 'Politechnika Krakowska' | trans }}">
        </div>
    </div>
</div>
