<!DOCTYPE html>
<html>
<head>
    <title>Import report - {{ file }} - {{ date }} </title>
</head>
<body>

<h1>Import report - {{ file }} - {{ date }}</h1>

{% if invalidMetadataKeys %}
    Metadata labels which do not exist in the given resource kind:
    <ul>
        {% for metadataKey in invalidMetadataKeys %}
            <li>{{ metadataKey }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if error %}
    <span style="color: red">Error: {{ error }}</span>
{% endif %}

<table border="1">
    <tr>
        <th>Old Id</th>
        <th>Id</th>
        <th>Link</th>
        <th>Status</th>
        <th>Data type that does not match metadata data type</th>
        <th>Terms that have not been used at all</th>
    </tr>
    {% for resource in resources %}
        <tr>
            <td>{{ resource.oldId }}</td>
            <td>{{ resource.id }}</td>
            <td><a href="{{ application_url }}/admin/resources/details/{{ resource.id }}"
                    target='_blank'>{{ application_url }}/admin/resources/details/{{ resource.id }}</a></td>
            <td>{{ resource.status | upper }}</td>
            <td>
                {% if resource.unfitTypeValues %}
                    <ul>
                        {% for typeValue in resource.unfitTypeValues %}
                            {% for key, value in typeValue %}
                                <li>{{ key }} - {{ value }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if resource.notUsedTerms %}
                    <ul>
                        {% for term in resource.notUsedTerms %}
                            <li>{{ term }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
