{% set all_params = app.request.query.all | merge(route_params) %}

{% if pagination is not empty and (pagination.previous or pagination.next) %}
    <div class="pagination">
        <ul>
            <li class="text-button">
                {% if pagination.previous is empty %}
                    <span class="default-button disabled">&lt;</span>
                {% else %}
                    <a class="default-button"
                        href="{{ path(app.request.attributes.get('_route'), all_params | merge({'page': pagination.previous})) }}">&lt;</a>
                {% endif %}
            </li>
            {% for page in pagination.first %}
                <li>
                    <a class="default-button"
                        href="{{ path(app.request.attributes.get('_route'), all_params | merge({'page': page})) }}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if pagination.leftEllipsis %}
                <li class="ellipsis"><span>...</span></li>
            {% endif %}
            {% for page in pagination.left %}
                <li>
                    <a class="default-button"
                        href="{{ path(app.request.attributes.get('_route'), all_params | merge({'page': page})) }}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if pagination.showCurrent %}
                <li><span class="default-button active">{{ pagination.current }}</span></li>
            {% endif %}
            {% for page in pagination.right %}
                <li>
                    <a class="default-button"
                        href="{{ path(app.request.attributes.get('_route'), all_params | merge({'page': page})) }}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if pagination.rightEllipsis %}
                <li class="ellipsis"><span>...</span></li>
            {% endif %}
            {% for page in pagination.last %}
                <li>
                    <a class="default-button"
                        href="{{ path(app.request.attributes.get('_route'), all_params | merge({'page': page})) }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="text-button">
                {% if pagination.next is empty %}
                    <span class="default-button disabled">&gt;</span>
                {% else %}
                    <a class="default-button"
                        href="{{ path(app.request.attributes.get('_route'), all_params | merge({'page': pagination.next})) }}">&gt;</a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endif %}
