{% if filterableMetadata.control.value in ['text', 'textarea'] %}
    <label class="text-property-filter">
        <span>{{ filterableMetadata.label | inCurrentLanguage }}</span>
        <div>
            <input type="text"
                name="metadataFilters[{{ filterableMetadata.id }}]"
                value="{{ app.request.query.all.metadataFilters[filterableMetadata.id] ?? '' }}">
        </div>
    </label>
{% elseif filterableMetadata.control.value in ['flexible-date','timestamp', 'date-range'] %}
    <div class="form-group filters">
        <label>{{ filterableMetadata.label | inCurrentLanguage }}</label>

        {% set from =  app.request.query.all.metadataFilters[filterableMetadata.id]['from'] ?? "" %}
        {% set to = app.request.query.all.metadataFilters[filterableMetadata.id]['to'] ?? "" %}
        {% set rangeMode = app.request.query.all.metadataFilters[filterableMetadata.id]['rangeMode'] ?? "year" %}

        <div class="date-property-filter">
            <input type="text"
                maxlength="4"
                name="metadataFilters[{{ filterableMetadata.id }}][from]"
                placeholder="yyyy"
                value="{{ from }}">
            <span>&nbsp;&mdash;&nbsp;</span>
            <input type="text"
                maxlength="4"
                name="metadataFilters[{{ filterableMetadata.id }}][to]"
                placeholder="yyyy"
                value="{{ to }}">
            <input type="hidden"
                name="metadataFilters[{{ filterableMetadata.id }}][rangeMode]"
                value="{{ rangeMode }}">
        </div>
    </div>
{% elseif filterableMetadata.control.value in ['relationship'] %}
    {% set filterUsed = app.request.query.all.metadataFilters[filterableMetadata.id] is defined %}
    {% set variableName = ("property" ~ filterableMetadata.id ~ "Expanded") | replace({"-": "0"}) %}
    {% set parentPathMetadata = filterableMetadata.name == "parent_path" %}
    <div class="property-options"
        .one-time="{{ variableName }} = {{ filterUsed ? 'true' : 'false' }}">
        {% block propertyNameContainer %}
            <button class="property-name-container expand-toggle"
                class.bind="{{ variableName }} ? 'toggled' : ''"
                type="button"
                click.delegate="{{ variableName }} = !{{ variableName }}"
                aria-expanded.bind="{{ variableName }}">
                <span class="property-name">{{ parentPathMetadata ? 'Collections' | trans : filterableMetadata.label | inCurrentLanguage }}</span>
                <span>{{ icon('forward') }}</span>
            </button>
        {% endblock %}
        <div class="{{ expandFilters or filterUsed ? 'expanded' : 'collapsed' }}"
            collapsible="collapsed.bind: !{{ variableName }}">
            {% if parentPathMetadata %}
                {% set parentFilters = app.request.query.all.metadataFilters[filterableMetadata.id] ?? null %}
                {% set topLevelCollection = resources({resourceClasses: searchableResourceClasses, parentId: null})|first %}
                {% for resource in resources({parentId: topLevelCollection.id}) %}
                    {% set childResources = resources({parentId: resource.id}) %}
                    {% if childResources is not empty %}
                        {% set childResourcesData = [] %}
                        {% for childResource in childResources %}
                            {% set childResourceData = {
                                id: childResource.id | json_encode,
                                label: childResource | metadata('label') | raw
                            } %}
                            {% set childResourcesData = childResourcesData | merge([childResourceData]) %}
                        {% endfor %}
                    {% endif %}
                    <child-resources-group
                        resource-id="{{ resource.id }}"
                        resource-label="{{ resource | mLabel }}"
                        {% if childResources is not empty %}
                            stringified-child-resources-data="{{ childResourcesData | json_encode }}"
                        {% endif %}
                        name="metadataFilters[{{ filterableMetadata.id }}][]"
                        {% if parentFilters is not null %}
                        stringified-parent-filters="{{ parentFilters | json_encode }}"
                        {% endif %}></child-resources-group>
                {% endfor %}
            {% elseif filterableMetadata.constraints.resourceKind is defined %}
                {% set relationshipFilters = app.request.query.all.metadataFilters[filterableMetadata.id] ?? [] %}
                {% for resource in teasers({resourceKindIds: filterableMetadata.constraints.resourceKind}) %}
                    <label class="label-with-checkbox">
                        <input type="checkbox"
                            name="metadataFilters[{{ filterableMetadata.id }}][]"
                            value="{{ resource.id }}"
                            {% if resource.id in relationshipFilters %}checked{% endif %}>
                        <span><span>{{ resource | mLabel }}</span></span>
                    </label>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}
