{% extends "redo/layout.twig" %}

{% set page_title = phrase ? phrase ~ ' - wyniki wyszukiwania' : 'Przeglądaj kolekcje' %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    {% include "redo/search/search-bar.twig" %}

    <div class="search-results-container">
        <div class="left-panel"
            class.bind="leftPanelExpanded ? 'expanded' : ''"
            id="left-panel">
            <div class="title-with-toggle">
                <h3 class="title horizontally-collapsible"><strong>Filtry</strong></h3>
                <button class="horizontally-expand-toggle"
                    class.bind="leftPanelExpanded ? 'toggled' : ''"
                    click.delegate="leftPanelExpanded = !leftPanelExpanded"
                    local-storage-value="key: leftPanelExpanded; value.bind: leftPanelExpanded">
                    {{ icon('forward') }}
                </button>
            </div>
            <form class="advanced-filters horizontally-collapsible collapsed"
                action=""
                method="get">
                <input type="hidden"
                    name="phrase"
                    value="{{ phrase }}">
                <div class="filter-button-container">
                    <div>
                        <button class="default">Filtruj</button>
                    </div>
                </div>
                <hr>

                {% set filterableTextMetadataList = [] %}
                {% set filterableNonTextMetadataList = [] %}
                {% for filterableMetadata in filterableMetadataList %}
                    {% if filterableMetadata.control.value in ['text', 'textarea', 'display-strategy'] %}
                        {% set filterableTextMetadataList = filterableTextMetadataList | merge([filterableMetadata]) %}
                    {% else %}
                        {% set filterableNonTextMetadataList = filterableNonTextMetadataList | merge([filterableMetadata]) %}
                    {% endif %}
                {% endfor %}

                {% if filterableTextMetadataList is not empty %}
                    <div>
                        {% for filterableMetadata in filterableTextMetadataList %}
                            {% include 'redo/search/search-metadata-filter.twig' %}
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
                {% if results.aggregations is not empty %}
                    {% set aggregations = [] %}
                    {% for aggregationName, aggregation in results.aggregations if aggregation.buckets.0[aggregationName].buckets %}
                        {# Objects are wrapped as otherwise `aggragationName` - when it's numeric - would be treated as index of an array
                            and modified: http://obtao.com/blog/2014/06/use-variable-key-twig-array/. #}
                        {% set aggregations = aggregations | merge([{(aggregationName): aggregation}]) %}
                    {% endfor %}
                    {% if aggregations is not empty %}
                        <div class="facets">
                            {% for aggregation in aggregations %}
                                {% set aggregationName = aggregation | keys | first %}
                                {% set aggregationData = aggregation | first %}
                                <div>
                                    <strong>{{ aggregationName == 'kindId' ? 'Typ zasobu' : metadata(aggregationName).label.PL }}</strong>
                                    {% for bucket in aggregationData.buckets.0[aggregationName].buckets %}
                                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({
                                            'phrase': phrase,
                                            'facetFilters': ftsFacetFilterParam(aggregationName, bucket.key,
                                                app.request.query.get('facetFilters') ?? []),
                                            'page': 1
                                        })) }}">
                                            <label class="label-with-checkbox">
                                                <input type="checkbox"
                                                    {% if isFilteringByFacet(aggregationName, bucket.key,
                                                        app.request.query.get('facetFilters') ?? []) %}
                                                checked
                                                    {% endif %}>
                                                <span>{{ aggregationName == 'kindId' ? resourceKind(bucket.key).label.PL
                                                    : r(bucket.key) | mLabel }} ({{ bucket.doc_count }})</span>
                                            </label>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}
                {% endif %}
                {% if filterableNonTextMetadataList is not empty %}
                    <div>
                        {% for filterableMetadata in filterableNonTextMetadataList %}
                            {% include 'redo/search/search-metadata-filter.twig' %}
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
                <div class="filter-button-container">
                    <a href={{ path(app.request.attributes.get('_route'), {phrase: app.request.query.get('phrase')}) }}>Wyczyść filtry</a>
                    <div>
                        <button class="default">Filtruj</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
          if (localStorage && localStorage.getItem && localStorage.getItem('leftPanelExpanded') == 'true') {
            {# Adds 'expanded' and 'toggled' classes to 'left-panel' and 'horizontally-expand-toggle' before Aueria loads. #}
            var leftPanel = document.getElementById('left-panel');
            leftPanel.classList.add('expanded');
            leftPanel.getElementsByClassName('horizontally-expand-toggle')[0].classList.add('toggled');
          }
        </script>
        <div class="search-results">
            {% if results | length == 0 %}
                <h1>Brak wyników.</h1>
            {% else %}
                <h1 class="title"><strong>Wyniki wyszukiwania ({{ results.totalHits }})</strong></h1>
                {% set resources = [] %}
                <div>
                    {% for searchResult in results %}
                        {% set resource = resource(searchResult.id) %}
                        {% include "redo/resources-list-element.twig" %}
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% include 'redo/search/pagination.twig' with {'route_params': {'phrase': phrase}} %}
        </div>
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
