{% extends "redo/layout.twig" %}

{% set page_title = phrase ~ ' - wyniki wyszukiwania' %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    {% include "redo/search/search-bar.twig" %}

    <div class="search-results-container">
        <div class="left-panel">
            <div class="title-with-toggle">
                <h3 class="title horizontally-collapsible ${leftPanelExpanded ? 'expanded' : ''}"><strong>Filtry</strong></h3>
                <button click.delegate="leftPanelExpanded = !leftPanelExpanded"
                    local-storage-value="key: 'leftPanelExpanded'; value.bind: leftPanelExpanded">
                    {{ icon('forward') }}
                </button>
            </div>
            <form class="advanced-filters horizontally-collapsible collapsed ${leftPanelExpanded ? 'expanded' : ''}"
                action=""
                method="get">
                <input type="hidden" name="phrase" value="{{ phrase }}">

                <div class="filter-button-container">
                    <div>
                        <button class="filter-button">Filtruj</button>
                    </div>
                </div>
                <hr>

                {% set filterableTextMetadataList = [] %}
                {% set filterableNonTextMetadataList = [] %}
                {% for filterableMetadata in filterableMetadataList %}
                    {% if filterableMetadata.control.value in ['text', 'textarea', 'display-strategy'] %}
                        {% set filterableTextMetadataList = filterableTextMetadataList | merge([filterableMetadata]) %}
                    {% else %}
                        {% set filterableNonTextMetadataList = filterableNonTextMetadataList | merge([filterableMetadata]) %}
                    {% endif %}
                {% endfor %}

                {% if filterableTextMetadataList is not empty %}
                    <div>
                        {% for filterableMetadata in filterableTextMetadataList %}
                            {% include 'redo/search/search-metadata-filter.twig' %}
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
                {% if results.aggregations is not empty %}
                    <div class="facets">
                        {% for aggregationName, aggregation in results.aggregations if aggregation.buckets.0[aggregationName].buckets %}
                            <div>
                                <strong>{{ aggregationName == 'kindId' ? 'Typ zasobu' : metadata(aggregationName).label.PL }}</strong>
                                {% for bucket in aggregation.buckets.0[aggregationName].buckets %}
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'phrase': phrase, 'facetFilters': ftsFacetFilterParam(aggregationName, bucket.key, app.request.query.get('facetFilters') ?? []), 'page': 1})) }}">
                                        <label class="label-with-checkbox">
                                            <input type="checkbox"
                                                {% if isFilteringByFacet(aggregationName, bucket.key, app.request.query.get('facetFilters') ?? []) %}
                                            checked
                                                {% endif %}>
                                            <span>{{ aggregationName == 'kindId' ? resourceKind(bucket.key).label.PL : r(bucket.key) | mLabel }} ({{ bucket.doc_count }})</span>
                                        </label>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
                {% if filterableNonTextMetadataList is not empty %}
                    <div>
                        {% for filterableMetadata in filterableNonTextMetadataList %}
                            {% include 'redo/search/search-metadata-filter.twig' %}
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
                <div class="filter-button-container">
                    <a href={{ path(app.request.attributes.get('_route'), {phrase: app.request.query.get('phrase')}) }}>Wyczyść filtry</a>
                    <div>
                        <button class="filter-button">Filtruj</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-results">
            {% if results|length == 0 %}
                <h1>Brak wyników.</h1>
            {% else %}
                <h1>Wyniki wyszukiwania ({{ results.totalHits }})</h1>
                {% for result in results %}
                    {% set resource = result.data.contents | ftsContentsToResource %}
                    <div class="search-result">
                        <icon name="document"
                            size="1.5"></icon>
                        <div class="details">
                            <h3><a href="/resources/{{ result.id }}">{{ resource | mLabel }} (#{{ result.id }})</a></h3>
                            <div class="highlights">
                                {% for fieldName, highlights in result.highlights %}
                                    {% for highlight in highlights %}
                                        <p>
                                            <strong>{{ metadata(fieldName | slice(9) | number_format).label.PL }}:</strong>
                                            {{ highlight | raw }}
                                        </p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% include 'redo/search/pagination.twig' with {'route_params': {'phrase': phrase}} %}
        </div>
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
