{% extends "redo/layout.twig" %}

{% set page_title = phrase ? phrase ~ ' - ' ~ ('search_results_page_title' | trans) : ('Browse collections' | trans) %}
{% set expandFilters = false %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    <div class="search-results-search-bar">
        {% include "redo/search/search-bar.twig" %}
    </div>
    <div class="search-results-container">
        <div class="filters-panel collapsing-vertically-on-narrow-screens collapsing-horizontally-on-regular-screens
            with-margins-and-paddings-when-collapsed with-visible-content-when-collapsed collapsed"
            id="filters-panel"
            local-storage-value="key: filtersPanelExpanded; value.bind: filtersPanelExpanded"
            collapsible="collapsed.bind: !filtersPanelExpanded">
            <button class="title-with-toggle"
                click.delegate="filtersPanelExpanded = !filtersPanelExpanded">
                <h3 id="filtersHeading"
                    class="title no-margin-top"><strong>{{ 'Filters' | trans }}</strong></h3>
                <div class="toggle expand-toggle horizontally-expand-toggle-on-regular-screens"
                    class.bind="filtersPanelExpanded ? 'toggled' : ''"
                    title.bind="filtersPanelExpanded ? '{{ 'Hide filters' | trans }}' : '{{ 'Show filters' | trans }}'"
                    aria-label.bind="filtersPanelExpanded ? '{{ 'Hide filters' | trans }}' : '{{ 'Show filters' | trans }}'">
                    {{ icon('forward') }}
                </div>
            </button>
            <form id="advanced-filters"
                class="advanced-filters"
                action=""
                method="get">
                <input type="hidden"
                    name="phrase"
                    value="{{ phrase }}">
                <div class="filter-button-container">
                    <div>
                        <button class="default">{{ 'Filter' | trans }}</button>
                    </div>
                </div>
                <hr>

                {% set filterableTextMetadataList = [] %}
                {% set filterableNonTextMetadataList = [] %}
                {% for filterableMetadata in filterableMetadataList %}
                    {% if filterableMetadata.control.value in ['text', 'textarea'] %}
                        {% set filterableTextMetadataList = filterableTextMetadataList | merge([filterableMetadata]) %}
                    {% else %}
                        {% set filterableNonTextMetadataList = filterableNonTextMetadataList | merge([filterableMetadata]) %}
                    {% endif %}
                {% endfor %}

                {% if filterableTextMetadataList is not empty %}
                    <div>
                        {% for filterableMetadata in filterableTextMetadataList %}
                            {% include 'redo/search/search-metadata-filter.twig' %}
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
                {% if results.aggregations is not empty %}
                    {% set aggregations = [] %}
                    {% for aggregationName, aggregation in results.aggregations if aggregation.buckets.0[aggregationName].buckets %}
                        {# Objects are wrapped as otherwise `aggragationName` - when it's numeric - would be treated as index of an array
                            and modified: http://obtao.com/blog/2014/06/use-variable-key-twig-array/. #}
                        {% set aggregations = aggregations | merge([{(aggregationName): aggregation}]) %}
                    {% endfor %}
                    {% if aggregations is not empty %}
                        <div class="facets">
                            {% for aggregation in aggregations %}
                                {% set aggregationName = aggregation | keys | first %}
                                {% set aggregationData = aggregation | first %}
                                <div>
                                    <strong>{{ aggregationName == 'kindId' ? 'Resource kind' | trans
                                        : metadata(aggregationName).label | inCurrentLanguage }}</strong>
                                    {% for bucket in aggregationData.buckets.0[aggregationName].buckets %}
                                        <label class="label-with-checkbox">
                                            <input type="checkbox"
                                                name="facetFilters[{{ aggregationName }}][]"
                                                value="{{ bucket.key }}"
                                                {% if isFilteringByFacet(aggregationName, bucket.key,
                                                    app.request.query.get('facetFilters') ?? []) %}
                                            checked
                                                {% endif %}>
                                            <span>{{ aggregationName == 'kindId' ? resourceKind(bucket.key).label | inCurrentLanguage
                                                : r(bucket.key) | mLabel }} ({{ bucket.doc_count }})</span>
                                        </label>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}
                {% endif %}
                {% if filterableNonTextMetadataList is not empty %}
                    <div>
                        {% for filterableMetadata in filterableNonTextMetadataList %}
                            {% include 'redo/search/search-metadata-filter.twig' %}
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
                <div class="filter-button-container">
                    <a href={{ path(app.request.attributes.get('_route'), {phrase: app.request.query.get('phrase')}) }}>{{ 'Clear filters' | trans }}</a>
                    <div>
                        <button class="default">{{ 'Filter' | trans }}</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            {# Adds 'expanded' and 'toggled' classes to 'filters-panel' and 'horizontally-expand-toggle' if needed, before Aueria loads. #}
            if (localStorage && localStorage.getItem) {
              var filtersPanel = document.getElementById('filters-panel');
              if (localStorage.getItem('filtersPanelExpanded') == 'true') {
                filtersPanel.classList.add('expanding');
                filtersPanel.classList.remove('collapsed');
                filtersPanel.classList.add('expanded');
                document.getElementsByClassName('expand-toggle')[0].classList.add('toggled');
              }
            }
        </script>
        <div class="search-results"
            role="main">
            {% if results | length == 0 %}
                <h1 class="no-margin-top">{{ 'No results' | trans }}.</h1>
            {% else %}
                <h1 class="title no-margin-top">{{ 'Search results' | trans }} ({{ results.totalHits }})</h1>
                {% set resources = [] %}
                <div>
                    {% for searchResult in results %}
                        {% set resource = resource(searchResult.id) %}
                        {% include "redo/resources-list-element.twig" %}
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% include 'redo/search/pagination.twig' with {'route_params': {'phrase': phrase}} %}
        </div>
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
