{% set resources = resources({
    page: 1,
    resultsPerPage: 5,
    resourceClass: 'books',
    contentsFilter: {data_utworzenia_rekordu: '.+'},
    sortBy: {columnId: m('data_utworzenia_rekordu'), direction: 'DESC', language: 'PL'}
}) %}
{% set lastMonthCount = resources({
    page: 1,
    resultsPerPage: 1,
    resourceClass: 'books',
    contentsFilter: {data_utworzenia_rekordu: ('now' | date('Y-m')) ~ '.+'}
}).totalCount %}
{% set lastYearCount = resources({
    page: 1,
    resultsPerPage: 1,
    resourceClass: 'books',
    contentsFilter: {data_utworzenia_rekordu: ('now' | date('Y')) ~ '.+'}
}).totalCount %}

<div class="statistics">
    <div>
        <h4>{{ 'Recently added' | trans | upper }}</h4>
        {% for resource in resources.results %}
            <a class="list-element"
                href="/resources/{{ resource.id }}">
                <span>{{ resource | mLabel }}</span>
                <span class="icon-container">{{ icon('undo-3', 0.75) }}</span>
            </a>
        {% endfor %}
    </div>
    <div>
        <h4>{{ 'Statistics' | trans | upper }}</h4>
        <div class="list-element">
            <span>{{ 'All items' | trans }}</span>
            <span>{{ resources.totalCount }}</span>
        </div>
        <div class="list-element">
            <span>{{ 'Items added last month' | trans }}</span>
            <span>{{ lastMonthCount }}</span>
        </div>
        <div class="list-element">
            <span>{{ 'Items added last year' | trans }}</span>
            <span>{{ lastYearCount }}</span>
        </div>
    </div>
    {% include 'redo/home/resource-downloads-ranking.twig' %}
</div>
