{% set resources = resources({
    page: 1,
    resultsPerPage: 5,
    resourceClass: 'books',
    contentsFilter: {data_utworzenia_rekordu: '.+'},
    sortBy: {columnId: m('data_utworzenia_rekordu'), direction: 'DESC', language: 'PL'}
}) %}
{% set lastMonthCount = resources({
    page: 1,
    resultsPerPage: 1,
    resourceClass: 'books',
    contentsFilter: {data_utworzenia_rekordu: ('now' | date('Y-m')) ~ '.+'}
}).totalCount %}
{% set lastYearCount = resources({
    page: 1,
    resultsPerPage: 1,
    resourceClass: 'books',
    contentsFilter: {data_utworzenia_rekordu: ('now' | date('Y')) ~ '.+'}
}).totalCount %}

<div class="statistics">
    <div>
        <h4>OSTATNIO DODANE</h4>
        {% for resource in resources.results %}
            <a class="list-element"
                href="/resources/{{ resource.id }}">
                <span>{{ resource | mLabel }}</span>
                <span class="icon-container">{{ icon('forward', 1.25) }}</span>
            </a>
        {% endfor %}
    </div>
    <div>
        <h4>STATYSTYKI</h4>
        <div class="list-element">
            <span>Liczba wszystkich pozycji</span>
            <span>{{ resources.totalCount }}</span>
        </div>
        <div class="list-element">
            <span>Liczba pozycji dodanych w ostatnim miesiącu</span>
            <span>{{ lastMonthCount }}</span>
        </div>
        <div class="list-element">
            <span>Liczba pozycji dodanych w ostatnim roku</span>
            <span>{{ lastYearCount }}</span>
        </div>
    </div>
</div>
