{% extends "redo/deposit/deposit-layout.twig" %}
{% set page_title = 'Deposit - resource kind' | trans %}
{% block depositContent %}
    <h1 class="deposit-page-header">{{ 'Resource add wizard' | trans }}</h1>
    {% include 'redo/deposit/deposit-breadcrumb.twig' %}
    {% if resourceKinds | length == 0 %}
        {{ 'No kinds available to add resource' | trans }}.
    {% else %}
        <form action=""
            method="post"
            class="deposit-form">
            <div class="deposit-form-header clearfix">
                {{ 'Choose the resource kind you want to create from the list below' | trans }}
                <button type="submit"
                    class="primary pull-right">
                    {{ 'Next' | trans }} &gt;
                </button>
            </div>
            <div class="available-options">
                {% for resourceKind in resourceKinds %}
                        <label class="label-with-radio-button">
                            <input type="radio"
                                name="resourceKindId"
                                value="{{ resourceKind.id }}"
                                required>
                            <span>{{ resourceKind.label | inCurrentLanguage }}</span>
                        </label>
                {% endfor %}
            </div>
        </form>
    {% endif %}
{% endblock %}
