{% set addedResources = resources({contentsFilter: {osoba_tworzaca_rekord: app.user.userData.id}}) %}
{% if addedResources | length == 0 %}
    {{ 'No resources' | trans }}.
{% else %}
    <div class="deposit-resources">
        <table>
            <tr>
                <th>{{ 'Resource' | trans({}, 'generic') }}</th>
                <th>{{ 'Parent resource' | trans }}</th>
                <th>{{ 'Resource state' | trans }}</th>
                <th>{{ 'Allowed operations' | trans }}</th>
            </tr>
            {% for deposit in addedResources %}
                <tr>
                    <td>
                        <a href="/resources/{{ deposit.id }}">{{ deposit | metadata('label') }}</a>
                    </td>
                    <td>
                        {% set parentResourceId = deposit | m(-1) | first %}
                        {% if parentResourceId %}
                            <a href="/resources/{{ deposit.id }}">{{ r(parentResourceId) | metadata('label') }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% for place in  deposit.kind.workflow.places %}
                            {% if place.id in deposit.marking | keys %}
                                <span>{{ place.label | inCurrentLanguage }}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% set availableTransitions = availableTransitions(app.user, deposit) %}
                        {% if availableTransitions.update is not defined %}
                            <div class="deposit-operations">
                                <a href="{{ path(app.request.attributes.get('_route'), {'phase': 'form', 'parentResourceId': (deposit | m(-1) | first | trim), 'resourceKindId': deposit.kind.id , 'edit': deposit.id, transitionId: 'update'}) }}">
                                    {{ icon('edit', 1.5) }} {{ 'Edit' | trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% for transition in availableTransitions %}
                            {% if transition.id != 'update' %}
                                <div class="deposit-operations">
                                    <a href="{{ path(app.request.attributes.get('_route'), {'phase': 'form', 'parentResourceId': (deposit | m(-1) | first | trim), 'resourceKindId': deposit.kind.id , 'edit': deposit.id, 'transitionId': transition.id }) }}">
                                        {{ icon('workflow', 1.5) }} {{ transition.label | inCurrentLanguage }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
