{% extends "redo/deposit/deposit-layout.twig" %}
{% set page_title = 'My resources' | trans %}
{% block depositContent %}
    <h1>{{ 'My resources' | trans }}</h1>
    {% if addedResources | length == 0 %}
        {{ 'No resources' | trans }}.
    {% else %}
        <div class="deposit-resources">
            <table class="table table-striped">
                <tr>
                    <th>{{ 'Resource' | trans({}, 'generic') }}</th>
                    <th>{{ 'Collection' | trans }}</th>
                    <th>{{ 'State' | trans }}</th>
                </tr>
                {% for resource in addedResources %}
                    {% set depositPath = getWorkflowPlaceTaggedPath('deposit', resource) %}
                    {% if depositPath is not null %}
                        <tr>
                            <td>
                                <a href="/resources/{{ resource.id }}">{{ resource | metadata('label') | raw }}</a>
                            </td>
                            <td>
                                {% set parentResourceId = resource | m(-1) | first %}
                                {% if parentResourceId %}
                                    <a href="/resources/{{ parentResourceId }}">{{ r(parentResourceId) | metadata('label') }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if depositPath is defined and depositPath.contains(resource.currentPlaces[0].id) and depositPath.lastPlace.id != resource.currentPlaces[0].id %}
                                    <a href="{{ path('depositTransition', {resource: resource.id, transition: depositPath.getNext(resource.currentPlaces[0].id).id}) }}">
                                        {{ 'continue depositing' | trans }}
                                    </a>
                                {% else %}
                                    {{ 'deposited' | trans }} &#10004;
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
