<h3>{{ 'Resource kind' | trans }}: <span class="deposit-resource-kind">{{ resourceKind.label | inCurrentLanguage }}</span></h3>
<span>{{ 'Select collection' | trans }}:</span>
{% set parentResources = resourcesToDeposit(resourceKind, app.user, [-4]) %}
{% if parentResources | length == 0 %}
    {{ 'No collections available to add resource' | trans }}
{% else %}
    <div class="deposit-resources">
        <table>
            {% for deposit in parentResources %}
                <tr>
                    <td>
                        <a href="/deposit/form?parentResourceId={{ deposit.id }}&resourceKindId={{ resourceKind.id }}">{{ deposit | metadata('label') }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
