<h3>Rodzaj zasobu: <span class="deposit-resource-kind">{{ resourceKind.label.PL }}</span></h3>
<span>Wybierz kolekcję:</span>
{% set parentResources = resourcesToDeposit(resourceKind, app.user, [-4]) %}
{% if parentResources | length == 0 %}
    Brak kolekcji, w których możesz dodać zasób.
{% else %}
    <div class="deposit-resources">
        <table>
            {% for deposit in parentResources %}
                <tr>
                    <td>
                        {#<a href="/deposit/resource-kind?parentResourceId={{ deposit.id }}">{{ deposit | metadata('label') }}</a>#}
                        <a href="/deposit/form?parentResourceId={{ deposit.id }}&resourceKindId={{ resourceKind.id }}">{{ deposit | metadata('label') }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
