{% set browsingAvailable = browsingAvailable is defined and browsingAvailable %}
{% set pdfFilePath = resource | metadata('plik_pdf_podstawowy') | first %}
{% if not pdfFilePath %}
    {% set pdfFilePath = resource | metadata('zasob_plik') | first %}
{% endif %}
{% set mobiFilePath = resource | metadata('plik_mobi') | first %}

{% if browsingAvailable or pdfFilePath or mobiFilePath %}
    {% set downloadFormats = [
        {
            url: '/redo/resources/' ~ resource.id ~ '/file/' ~ pdfFilePath,
            name: 'PDF',
            title: 'Download resource in PDF format' | trans,
            fileAvailable: pdfFilePath is not empty
        },
        {
            url: '/redo/resources/' ~ resource.id ~ '/file/' ~ mobiFilePath,
            name: 'EPUB',
            title: 'Download resource in EPUB format' | trans,
            fileAvailable: mobiFilePath is not empty
        }
    ] %}
    <div class="download-options">
        <span class="download-options-icon">{{ icon('download', 1.5) }}</span>
        <fieldset>
            {% if hideGroupName is not defined or not hideGroupName %}
                <legend align="left">
                    <span>{{ 'Download resource' | trans }}</span>
                </legend>
            {% endif %}
            <div class="formats {{ browsingAvailable ? 'in-column' }} ">
                {% if browsingAvailable %}
                    {% if filesAllowed %}
                        <a href="/resources/{{ resource.id }}/browse"
                            title="{{ 'Browse resource' | trans }}">
                            {{ 'Browse' | trans }}
                        </a>
                    {% endif %}
                {% endif %}
                {% if filesAllowed %}
                    {% for format in downloadFormats %}
                        {% if format.fileAvailable %}
                            <a href="{{ format.url }}"
                                download
                                title="{{ format.title }}"
                                aria-label="{{ format.title }}">
                                {{ format.name }}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span class="text-center small">
                        {{ resource | m('prawa_dostepu') | resourceLabel }}
                    </span>
                {% endif %}
            </div>
        </fieldset>
    </div>
{% endif %}
