{% set browsableMetadataName = app.request.get('attachment') ? 'plik_zalacznik_strona_po_stronie' : 'pliki_strona_po_stronie' %}
{% set imageData = resource | metadataImageFiles(browsableMetadataName, browsableMetadataName ~ '_wymiary') %}
{% set canBrowse = resource.resourceClass == 'books' and canView(resource) and imageData is not empty %}
{% extends 'redo/layout.twig' %}

{% set page_title = resource | metadata('label') %}
{% set childrenAllowed = resource | childrenAllowed %}

{% set filesUrl = '/api/resources/' ~ resource.id ~ '/file/' %}
{% set resourceUrl = '/resources/' ~ resource.id %}

{% set libraryPath = '/jspm_packages/github/internetarchive/bookreader%404.2.0/BookReader/' %}

{% block head %}
    <script src="{{ libraryPath }}jquery-1.10.1.js"></script>
    <script src="{{ libraryPath }}jquery-ui-1.12.0.min.js"></script>
    <script src="{{ libraryPath }}jquery.browser.min.js"></script>
    <script src="{{ libraryPath }}dragscrollable-br.js"></script>
    <script src="{{ libraryPath }}jquery.colorbox-min.js"></script>
    <script src="{{ libraryPath }}BookReader.js"></script>
    <script src="{{ libraryPath }}plugins/plugin.url.js"></script>
    <link rel="stylesheet"
        href="{{ libraryPath }}BookReader.css">
{% endblock %}

{% block content %}
    {% if canBrowse %}
        <div id="BookReader"></div>
        <script>
            {% include "redo/resource-details/image-reader.js.twig" %}
            setCustomPrototypeMethods();
            preventFullScreenExit();
            {% set referer = app.request.headers.get('referer') %}
            var extraOptions = {
              bookUrl: '{{ app.request.headers.get('referer') | default(resourceUrl) }}',
              bookUrlText: '{{ resource | metadata('label') | escape('js') }}<br>← {{ 'Go back' | trans({}, 'bookreader') }}',
              bookUrlTitle: '{{ 'Go back' | trans({}, 'bookreader') }}',
            };
            bookreader = instantiateBookReader('#BookReader', extraOptions);
            bookreader.enterFullscreen();
        </script>
    {% endif %}
{% endblock %}
