{% if metadata.control == 'directory' %}
    {{ metadataValue | basename }}
{% elseif metadata.control == 'file' %}
    <a href="/api/resources/{{ resource.id }}/file/{{ metadataValue }}">{{ metadataValue | basename }}</a>
{% elseif metadata.control == 'relationship' %}
    {% set relatedResource = resource(metadataValue) %}
    {% set label = relatedResource | mLabel | onlyMetadataInCurrentLanguage(labelMetadata) %}
    {% if relatedResource is not empty %}
        {% if relatedResource.resourceClass == 'books' and canView(relatedResource) %}
            <a href="/resources/{{ relatedResource.id }}">{{ label }}</a>
        {% elseif relatedResource|m('five_star_data_keyword')|length %}
            {{ insertLinks(relatedResource | m('label') | first, relatedResource | m('five_star_data_keyword')) | raw }}
        {% elseif canViewTeaser(relatedResource) %}
            {{ label }}
        {% else %}
            {{ 'You are not allowed to view this resource' | trans }}
        {% endif %}
    {% else %}
        {{ 'Resource does not exist' | trans }}
    {% endif %}
{% elseif metadata.dynamic %}
    {{ metadataValue | raw }}
{% elseif metadata.control == 'textarea' %}
    <span class="pre-line">{{ metadataValue | striptags }}</span>
{% else %}
    {{ metadataValue | striptags }}
{% endif %}
