{% extends resource.resourceClass == 'books' and canView(resource) ? 'redo/layout.twig' : 'empty.twig' %}
{% set metadataToDisplay = cmsConfig('display_metadata_' ~ resource.kind.name, cmsConfig('display_metadata_DEFAULT')) %}
{% set share_url = app.request.uri %}
{% set page_title = resource | metadata('label') %}
{% set share_description = resource | metadata('opis') | first %}
{% set childrenAllowed = resource | childrenAllowed %}
{% set hasBrowsableContents = (resource | metadata('pliki_strona_po_stronie')) is not empty %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    {% if resource | metadata('parent') | first %}
        <div class="breadcrumbs">
            {{ 'Collection' | trans }}:
            {% embed "redo/resource-details/ancestors-list.twig" %}
                {% block itemSuffix %}
                    &gt;
                {% endblock %}
            {% endembed %}
            {{ resource | metadata('label') }}
        </div>
    {% endif %}

    {% set referer = app.request.headers.get('referer') %}
    {% if referer starts with app.request.schemeAndHttpHost ~ '/search' %}
        <a class="link-to-the-previous-page"
            href="{{ referer }}">{{ icon('undo-3') }}{{ 'Search results' | trans }}</a>
    {% endif %}

    {% if app.flashes('deposit') %}
        <h1 class="deposit-success-flash">{{ 'Congratulations! Your resource has been added.' | trans }}</h1>
        <a href="{{ path('myResources') }}">&laquo; {{ 'Go to my resources list' | trans }}</a>
    {% endif %}

    <div class="resource-details"
        role="main">
        <div class="top-container">
            <div class="resource-image-with-title-container-with-actions">
                {% include 'redo/resource-image.twig' %}
                <div class="title-container-with-actions">
                    <div class="title-container">
                        <h1 class="no-margin-top">{{ resource | metadata('label') | raw }}</h1>
                        <div>{{ 'Type' | trans }}: {{ resource.kind.label | inCurrentLanguage }}</div>
                        {% set numberOfDownloads =  resource | metadata('resource_downloads') | first %}
                        {% if numberOfDownloads %}
                            <div>{{ 'Number of downloads' | trans }}: {{ numberOfDownloads }}</div>
                        {% endif %}
                    </div>
                    <div class="actions">
                        {#<button title="{{ 'Add to favorites' | trans }}">{{ icon('bookmark', 2) }}</button>#}
                        {% if childrenAllowed %}
                            <a href="/resources/{{ resource.id }}/rss"
                                title="{{ 'Resource RSS channel' | trans }}">{{ icon('rss', 1.75) }}</a>
                        {% endif %}
                        {#<button title="{{ 'Report an issue with the resource' | trans }}">{{ icon('mail', 2 ) }}</button>#}
                        <div class="share-buttons">
                            <a href="https://www.facebook.com/sharer/sharer.php?sdk=joey&u={{ app.request.uri }}&display=popup&ref=plugin&src=share_button"
                                title="{{ 'Share on Facebook' | trans }}"
                                aria-label="{{ 'Share on Facebook' | trans }}"
                                onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')">{{ icon('facebook', 2) }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="download-options-container">
                {% include 'redo/resource-details/available-formats.twig' %}
                <div class="download-options">
                    <span class="download-options-icon">{{ icon('examination', 1.5) }}</span>
                    <fieldset>
                        <legend align="left"
                            id="cite-legend"><span title="{{ 'Cite resource' | trans }}">{{ 'Cite resource' | trans }}</span></legend>
                        <div class="formats in-one-line">
                            <a href="/resources/{{ resource.id }}/bibtex"
                                title="{{ 'Download resource data in BibTeX format' | trans }}"
                                aria-labelledby="cite-legend cite-bibtex">
                                <span id="cite-bibtex">BibTeX</span>
                            </a>
                            <a href="/resources/{{ resource.id }}/endnote"
                                title="{{ 'Download resource data in EndNote format' | trans }}"
                                aria-labelledby="cite-legend cite-endnote">
                                <span id="cite-endnote">EndNote</span>
                            </a>
                            <a href="/resources/{{ resource.id }}/iso-690"
                                title="{{ 'Download resource data in ISO 690 format' | trans }}"
                                aria-labelledby="cite-legend cite-iso690">
                                <span id="cite-iso690">{{ icon('double-quote-sign', 1.25) }}</span>
                            </a>
                        </div>
                    </fieldset>
                </div>
                {% if hasBrowsableContents %}
                    <div class="download-options">
                        <span class="download-options-icon">{{ icon('book', 1.5) }}</span>
                        <fieldset>
                            <div class="formats in-one-line">
                                <a href="/resources/{{ resource.id }}/browse"
                                    title="{{ 'Browse resource' | trans }}">
                                    {{ 'Browse' | trans }}
                                </a>
                            </div>
                        </fieldset>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="details-container">
            <dl>
                {% for metadataName in metadataToDisplay %}
                    {% set metadata = metadata(metadataName) %}
                    {% if metadata %}
                        {% set metadataValues = resource | metadata(metadata.id) | onlyMetadataInCurrentLanguage(metadata) %}
                        {% if metadataValues | length %}
                            <dt>
                                {{ metadata.label | inCurrentLanguage }}
                            </dt>
                            <dd>
                                {% for metadataValue in metadataValues %}
                                    {% include 'redo/resource-details/metadata-display.twig' %}
                                    {% if not loop.last %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </dd>
                        {% endif %}
                    {% else %}
                        <!-- unknown metadata: {{ metadataName }} -->
                    {% endif %}
                {% endfor %}
            </dl>
        </div>
        {% if childrenAllowed %}
            <div class="statistics">
                {% set collectionFilterId = resource.id %}
                {% include 'redo/home/resource-downloads-ranking.twig' %}
            </div>
            <div class="child-resources">
                {% set page = app.request.query.get('page') | default(1) %}
                {% set childrenPerPage = 10 %}
                {% set children = resources({parentId: resource.id, page: page, resultsPerPage: childrenPerPage}) %}
                {% set pagination = paginate(page, childrenPerPage, children.getTotalCount) %}
                <div class="title-with-separator">
                    <h3><strong>{{ 'Collection items' | trans }} ({{ children.getTotalCount }})</strong></h3>
                    <hr>
                </div>
                <div class="resources-list">
                    {% for resource in children %}
                        {% include "redo/resources-list-element.twig" %}
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                {% include "redo/search/pagination.twig" with {'pagination': pagination, 'route_params': {'resourceId':
                    resource.id}} %}
            </div>
        {% endif %}
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
