{% set resourceVisible = resource.resourceClass == 'books' %}
{% extends resourceVisible ? 'redo/layout.twig' : 'empty.twig' %}

{% set page_title = resource | metadata('label') %}
{% set childrenAllowed = resource | childrenAllowed %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}
    {% include "redo/search/search-bar.twig" %}

    {% if resource | metadata('parent') | first %}
        <div class="breadcrumbs">
            {% embed "redo/resource-details/ancestors-list.twig" %}
                {% block itemSuffix %}
                    &gt;
                {% endblock %}
            {% endembed %}
            {{ resource | metadata('label') }}
        </div>
    {% endif %}

    <div class="resource-details">
        {% if resource | metadata('parent') | first %}
            <div class="resource-ancestors">
                <span>Kolekcja</span>
                <div class="ancestors-list">
                    {% embed "redo/resource-details/ancestors-list.twig" %}
                        {% block itemNamePrefix %}
                            {{ icon('folder') }}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        {% endif %}
        <h1>{{ resource | metadata('label') }}</h1>
        {% if app.user %}
            {% set availableTransitions = availableTransitions(app.user, resource, ['osoba_tworzaca_rekord']) %}
            {% if availableTransitions is not empty %}
                <div class="available-transitions">
                    {% for transition in  availableTransitions %}
                        {% if transition.id != 'update' %}
                            <div class="deposit-operations">
                                <a href="/deposit/form?phase=form&parentResourceId={{ resource | m(-1) | first | trim }}&resourceKindId={{ resource.kind.id }}&edit={{ resource.id }}&transitionId={{ transition.id }}">
                                    {{ icon('workflow', 1.5) }} {{ transition.label.PL }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <div class="details-container">
            <div>
                <div class="title-container-visible-when-scrolled-down">
                    <span>{{ resource | metadata('label') }}</span>
                </div>
                <div class="resource-image-with-download-links">
                    <div class="resource-image">
                        {{ icon('book-2') }}
                    </div>
                    <div>
                        <h3><strong>Pobierz</strong></h3>
                        <h4><a href="/download/pdf">
                            {{ icon('mobi', 2) }}
                            <span>MOBI (7KB)</span>
                        </a></h4>
                        <h4><a href="/download/pdf">
                            {{ icon('pdf', 2) }}
                            <span>PDF (144000KB)</span>
                        </a></h4>
                        {% if childrenAllowed %}
                            <h4><a href="/resources/{{ resource.id }}/rss"
                                title="Kanał RSS">
                                {{ icon('rss', 1.5) }}
                                <span>Kanał RSS</span>
                            </a></h4>
                        {% endif %}
                        <a href="/resources/{{ resource.id }}/bibtex">BibTeX</a>
                    </div>
                </div>
            </div>
            <div class="details">
                <div>
                    <table>
                        {% for metadataGroupId, metadataList in resource.kind.groupedMetadataList %}
                            {% set metadataGroup = metadataGroup(metadataGroupId) %}
                            <tr>
                                <td colspan="2">
                                    <h4>
                                        <strong>
                                            {% if metadataGroup.label is defined %}
                                                {{ metadataGroup.label['PL'] | default(metadataGroup.label | first) }}
                                            {% else %}
                                                Pozostałe informacje
                                            {% endif %}
                                        </strong>
                                    </h4>
                                </td>
                            </tr>
                            {% for metadata in metadataList %}
                                {% set metadataValue = resource | metadata(metadata.id) | first %}
                                {% if metadataValue
                                    and metadata.name != 'tytul'
                                    and metadata.name != 'label'
                                    and metadata.name != 'parent'
                                    and metadata.control != 'display-strategy'
                                    and metadata.control != 'wysiwyg-editor' %}
                                    <tr>
                                        <td>
                                            <b>{{ metadata.label['PL'] | default(metadata.label | first) | default(metadata.name) }}</b>
                                        </td>
                                        <td>
                                            {% if metadata.control == 'file'
                                                or metadata.control == 'directory' %}
                                                {{ metadataValue | basename }}
                                            {% else %}
                                                {{ metadataValue }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% if not loop.last %}
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% if childrenAllowed %}
            <div class="resource-children">
                {% set page = app.request.query.get('page') | default(1) %}
                {% set childrenPerPage = 10 %}
                {% set children = resources({parentId: resource.id, page: page, resultsPerPage: childrenPerPage}) %}
                {% set pagination = paginate(page, childrenPerPage, children.getTotalCount) %}
                <h2>Elementy kolekcji ({{ children.getTotalCount }})</h2>
                <div class="children-list">
                    {% for childResource in children %}
                        <div class="child-item">
                            {{ icon('document', 1.5) }}
                            <h3>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'resourceId': childResource.id})) }}">{{ childResource | mLabel }}</a>
                            </h3>
                        </div>
                    {% endfor %}
                </div>
                {% include "redo/search/pagination.twig" with {'pagination': pagination, 'route_params': {'resourceId': resource.id}} %}
            </div>
        {% endif %}
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
